html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                    sans-serif;
    font-size: 14px;
}

.canvas-container {
    height: 100%;
    position: relative;
    width: 100%;
}

.canvas-top-navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 55px;
    background-color: #37464F;
    z-index: 999;
}

.canvas-top-navbar-container .input-field-testcase-name {
    outline: none;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px;
    font-size: 24px;
    margin: 6px;
}

.input-field-testcase-name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #EDEDED;
    opacity: 1; /* Firefox */
  }
  
.input-field-testcase-name:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #EDEDED;
  }
  
.input-field-testcase-name::-ms-input-placeholder { /* Microsoft Edge */
    color: #EDEDED;
  }

.canvas-area-container {
    position: relative;
    height: 100%;
    margin: 0 20%;
    padding: 0 16px;
}

.canvas-area-container-wide {
    margin: 0 20% 0 35px;
    padding: 0 16px;
}

.canvas-area-container .component-message-to-drop {
    top: 15%;
    left: 55%;
    transform: translate(-55%, -15%);
    position: absolute;
}

.component-search-list-container {
    display: none;
}

.component-search-list-container .component-content {
    background-color: #FFFFFF;
    padding: 14px;
    display: none;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.component-search-list-container .show-components-list {
    display: flex;
}

.component-search-list-container .component-content .draggable-source-component {
    display: flex;
    flex-basis: 30%;
    flex-flow: column;
    align-items: center;
    padding: 8px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 12px;
    text-align: center;
}

.component-search-list-container .component-content .draggable-source-component svg {
    height: 14px;
    margin: 0 0 4px 0;
}

.component-search-list-container .no-results-found-container {
    display: none;
    text-align: center;
    padding: 32px 16px;
}

.canvas-component-sidebar-container {
    position: fixed;
    height: calc(100vh - 55px);
    top: 55px;
    left: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    z-index: 999;
}

.canvas-component-sidebar-container .components-tab-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
}

.show-components-tab {
    width: 20%;
}

.canvas-component-settings-container {
    position: absolute;
    top: 55px;
    right: 0;
    height: calc(100% - 55px);
    overflow-y: auto;
    border-left: solid 1px #C2C2C2;
}

.show-settings-tab {
    width: 20%;
    display: block;
}

.canvas-component-settings-container .title {
    padding: 8px 16px;
    font-size: 24px;
}

.canvas-component-settings-container .info-message {
    margin: 60px auto;
    height: 20px;
    text-align: center;
    font-size: 16px;
    width: 80%;
}

.canvas-component-settings-container .testcase-config-container .input-field-testcase {
    display: flex;
    flex-flow: column;
    padding: 8px 24px;
}

.canvas-component-settings-container .testcase-config-container .input-field-testcase label {
    font-size: 14px;
    font-weight: 700;
    margin: 8px 0;
}

.canvas-component-settings-container .testcase-config-container .input-field-testcase input {
    padding: 8px;
    font-size: 16px;
}

.show-components-tab .components-tab-container {
    display: block;
}

.canvas-component-sidebar-container .components-tab-container .search-container {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C2C2C2;
    display: flex;
    flex-flow: row;
}

.canvas-component-sidebar-container .components-tab-container .search-container input[type=text] {
    padding: 14px 24px 12px 14px;
    border: none;
    outline: none;
    color: #C2C2C2;
    width: 100%;
}

.canvas-component-sidebar-container .components-tab-container .search-container svg {
    transform: rotate(90deg);
    color: #A6ABAB;
    position: absolute;
    right: 40px;
    top: 14px;
    height: 14px;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container {
    width: 100%;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 14px;
    color: #C2C2C2;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-header .component-label {
    color: #A6ABAB;
    font-weight: 700;
    font-size: 14px;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-header .component-control .component-count {
    margin: 0 8px 0 0;
    font-size: 14px;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-header .component-control svg {
    height: 16px;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-control {
    display: flex;
    align-items: center;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-content {
    background-color: #FFFFFF;
    padding: 14px;
    display: none;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .show-components-list {
    display: flex;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-content .draggable-source-component {
    display: flex;
    flex-basis: 30%;
    flex-flow: column;
    align-items: center;
    padding: 8px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    font-size: 12px;
    text-align: center;
}

.canvas-component-sidebar-container .components-tab-container .components-toggable-tab-container .components-toggable-tab .component-content .draggable-source-component svg {
    height: 14px;
    margin: 0 0 4px 0;
}

.canvas-component-sidebar-container .toggable-menu {
    height: 100%;
    background-color: #ECECEC;
    border-left: 1px solid #C2C2C2;
    border-right: 1px solid #C2C2C2;
    display: flex;
    flex-flow: column;
}

.canvas-component-sidebar-container .toggable-menu button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    color: #C2C2C2;
}

.canvas-component-sidebar-container .toggable-menu .top-button {
    border-bottom: 1px solid #C2C2C2;
}

.canvas-component-sidebar-container .toggable-menu button svg {
    height: 14px;
}

.canvas-area-container .target-component-container {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.canvas-area-container-wide .target-component-container {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.canvas-area-container .with-component {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas-area-container .selected-component {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='8' stroke-dasharray='' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.canvas-area-container .target-component {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.canvas-area-container .target-component span {
    font-size: 10px;
    color: black;
    text-align: center;
}

.canvas-area-container .target-component svg {
    height: 24px;
    margin-bottom: 4px;
    color: black;
}

.canvas-area-container .target-component-empty {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.canvas-area-container .target-component-empty svg {
    height: 38px;
    color: gray;
}

.canvas-area-container .target-component-arrow-down {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 50px;
}

.canvas-area-container .target-component-arrow-down .line {
    position: relative;
    width: 3px;
    height: 60px;
    background-color: #000;
    margin: auto;
}

.canvas-area-container .target-component-arrow-down .triangle {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    z-index: 1;
}

.canvas-area-container-wide .target-component-arrow-down {
    left: 50%;
}

.whitespace {
    height: 60px;
}

#play_automation {
    color:#17A05D;
}

#save_progress {
    color: #20323F;
}

#clear_canvas { 
    color: #90999F;
}